body{
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 2em;
    
    
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 10px auto;
    color: #66BFBF;
    line-height: 2;
    

    
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

p{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    ;
}
a{
    color: #11999E;
}


.top-container{
    position: relative;
    padding-top: 280px;
    background-color:#E8F6EF;
    bottom: 0px;
    
    
}

.middle-container{
    
}

.bottom-container{
    
    position: relative;
    bottom: 0px;


    margin-top: 50px;
    
    padding-bottom: 110px;
     background-color: #66BFBF;
    
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
    
}

.top-cloud{
    top: 150px;
    position: absolute;
    right: 300px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2
}

.android{
    width: 25%;
    float:left;
    margin-right: 30px;
}

.web{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link{

    text-align: center;
    position: relative;
    margin-right: 30px;
    font-size: 1.5rem;
    color: #11999E;
    text-decoration: none;
    top: 90px;
    
}

.copyright{

    position: relative;
    top: 120px ;
    bottom: 50px;
    font-size: 1rem;
    color: white;
}

.contact-me{
    margin: auto;
    text-align: center;
    width: 75%;
}

hr{
        
        border-style: dotted none none;
        border-color: gray;
        border-width: 5px;
        width: 5%;
    }

.mountain{
    padding-top: 30px;
}

